.markup-image-container {
    box-shadow: 0 0 0 1px lightgray;
    //overflow: hidden;
    display: inline-block;
    height: fit-content;
    margin: auto;
    img {
        // FIX ME: убрать это свойство
        // height: 500px;
        // чтобы картинка не перетаскивалась
        pointer-events: none;
        line-height: 0;
    }
}

.workspace {
    overflow: auto;
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 500px;
    display: flex;
}

.overlay {
    position: relative;

    &__layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
